@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
@if (string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}
else
{
    <h2>@Model.ErrorMessage</h2>
}
