@page
@model Shopping.MVC.Pages.Basket.CheckoutCompleteModel
@{
}

<h2>Your order has been placed!</h2>

<h3>Check the <a asp-page="/Orders/UserOrders">orders page</a> for the status of your ticket order</h3>

<h4><a asp-page="/Catalog">Continue shopping</a></h4>