@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Shopping Portal</h1>
    <h3 class="display-4">Enjoy your shopping</h3>
</div>

<section class="shopping-main-image-section">
    <div class="container">
        <img class="shopping-main-image" src="~/images/online_shopping.png" />
    </div>
</section>
