<mat-toolbar color="primary">
    <span class="align-content">Shopping Portal</span>
    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/catalog" routerLinkActive="active">Catalog</a>
    <a mat-button *ngIf="isUserLoggedIn" routerLink="/basket" routerLinkActive="active">Basket</a>
    <a mat-button *ngIf="isUserLoggedIn" routerLink="/orders" routerLinkActive="active">Orders</a>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <a mat-button *ngIf="!isUserLoggedIn" (click)="login()">Login</a>
    <label *ngIf="isUserLoggedIn">Welcome! {{userClaims.preferred_username}}</label>
    <a mat-button *ngIf="isUserLoggedIn" (click)="logout()">Logout</a>
</mat-toolbar>
<mat-progress-bar
  *ngIf="loading" color="warn" mode="indeterminate">
</mat-progress-bar>
